<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nainaiwang.zixun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ZiXunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <!--增加注册功能 -->
        <activity android:name=".RegisterActivity">

        </activity>
        <!--增加注册功能 end-->
        <!--增加登录功能 -->
        <activity android:name=".LoginActivity">

        </activity>
        <!--增加登录功能 end-->
        <!--个人中心功能 -->
        <activity android:name=".MyCenterActivity"> </activity>
        <!--个人中心功能 end-->
        <!--账户安全功能 -->
        <activity android:name=".AccountSecurityActivity"> </activity>
        <!--账户安全功能 end-->
        <!--修改密码功能 -->
        <activity android:name=".SetPasswordActivity"> </activity>
        <!--修改密码功能 end-->
        <activity android:name=".SearchActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".DetailsActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".YindaoActivity"></activity>

        <receiver android:name="com.nainaiwang.myreceiver.ConnectionChangeReceiver"/>



    </application>

</manifest>